
/* Default Css */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	outline: 0;
	list-style: none;
    word-wrap: break-word;
    -webkit-transition:all .2s;
    -o-transition:all .2s;
    transition:all .2s;
    box-sizing: border-box;
}

body {
	line-height: 1.3;
	font-weight: 400;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	background: #d2dad8;
}
img{
    max-width: 100%;
    display: block;
}

h1,h2,h3,h4,h5,h6,p{
	margin:0;
}

/* Section Css */

section#the_size {
    width: 325px;
    height: 720px;
    background: #ffffff;
    margin: auto;
    margin-left:100px;
    margin-top: 2%;
    overflow-y: scroll;
}

form.search_cat {
    padding-top: 10px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 12% 88%;
    grid-template-columns: 12% 88%;
    border-bottom: 1px solid #e0e5e9;
}

form.search_cat input {
    width: 100%;
    padding: 4% 2%;
    border: 1px solid #abd7fe;
    border-radius: 3px;
    border-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0;
    background-color: #F4F4F4;
    color: #737373;
}

input#search_box::-webkit-input-placeholder {
    color: #7faacf;
}

input#search_box:-ms-input-placeholder {
    color: #7faacf;
}

input#search_box::-ms-input-placeholder {
    color: #7faacf;
}

input#search_box::placeholder {
    color: #7faacf;
}


form.search_cat p {
    font-size: 15px;
    margin: 0;
    position: relative;
    border-radius: 3px;
    border: 1px solid #abd7fe;
    height: 39px;
    border-right: none;
    padding: 7px;
    -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
            transform: translateX(0px);
    background-color: #F4F4F4;
    cursor: pointer;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

form.search_cat p i {
    position: relative;
    color: #5690C2;
    padding-left: 3px;
    padding-top: 5px;
}

.recom h2,.plan .pln_title {
    font-size: 18px;
    font-weight: bold;
    color: #376f9f;
    margin-bottom: 4px;
    margin-top: 10px;
}


.recom p {
    font-size: 13px;
    color: #4f7ca3;
    margin-bottom: 10px;
}

.recom_link> div {
    padding: 0;
}

.recom_link p a {
    color: #787878;
    font-size: 12.5px;
    text-decoration: none;
}

.recom_link p {
    padding: 6px 6px;
    background: #f4f4f4;
    margin-bottom: 5px;
    border-radius: 12px;
    border: 1px solid #e1e1e1;
}
.recom_link p:hover a {
    color: #6ba9df;
}

.recom_link p:hover {
    border:1px solid #abd7fe;
}

/*single plan*/
.plan {
    margin-top: 22px;
    border-top: 1px solid #e0e5e9;
    padding-top: 4px;
}

.plan div {
    padding: 0;
}

.plan .pln_title {
    margin-bottom: 18px;
}

.single_plan {
    border: 1px solid #e9e6e6;
    border-radius: 3px;
    margin-bottom: 34px;
}

.single_plan img {
    margin-bottom: 6px;
}

.single_plan h2,.single_plan .cat_of, .single_plan .icon {
    padding-left: 5px;
    padding-right: 5px;
}

.single_plan h2 {
    font-size: 16px;
    font-weight: 600;
    color: #484848;
    margin-bottom: 50px;
}

.single_plan h2 span {
    margin-right: 8px;
    background-color: #3a87ca;
}

.single_plan .cat_of {
    font-size: 13px;
    color: #5e5e5e;
    margin-bottom: 8px;
}

.single_plan .cat_of span {
    color: #3c3c3c;
}

.single_plan .icon {
    margin-bottom: 10px;
    font-size: 15px;
    color: #5b5959;
}

.single_plan .icon i {
    padding: 0px 7px;
    cursor: pointer;
}
.single_plan .icon i:hover {
    color: #3a87ca;
}
.single_plan:last-child {
    margin-bottom: 0;
}